transformer-small: # ~120M
  batch_size: 375
  d_model: 768
  dropout: 0.1
  early_stop_delta: 0.1
  early_stop_pat: 10
  eval_batches: 50
  eval_every: 1000
  grad_checkpoint: false
  grad_accum_steps: 1
  grad_clip: 1.0
  lr: 2.5e-4
  min_count: 5
  num_blocks: 12
  seq_len: 128
  train_tokens: 1e10
  val_frac: 0.1
  warmup_frac: 0.02
  weight_decay: 0.1

sft-small:
  batch_size: 375
  seq_len: 128
  dropout: 0.1
  early_stop_delta: 0.1
  early_stop_pat: 10
  eval_batches: 50
  eval_every: 100
  grad_checkpoint: false
  grad_accum_steps: 1
  grad_clip: 1.0
  lr: 1.0e-4
  train_tokens: 1e9
  val_frac: 0.1
  warmup_frac: 0.02
  weight_decay: 0.0

transformer-medium: # ~333M
  batch_size: 100
  d_model: 1024
  dropout: 0.1
  early_stop_delta: 0.02
  early_stop_pat: 10
  eval_batches: 50
  eval_every: 500
  grad_checkpoint: false
  grad_accum_steps: 1
  grad_clip: 1.0
  lr: 1.5e-4
  min_count: 5
  num_blocks: 24
  seq_len: 256
  train_tokens: 5e10
  val_frac: 0.1
  warmup_frac: 0.02
  weight_decay: 0.01

sft-medium:
  batch_size: 100
  seq_len: 256
  dropout: 0.1
  early_stop_delta: 0.1
  early_stop_pat: 10
  eval_batches: 50
  eval_every: 100
  grad_checkpoint: false
  grad_accum_steps: 1
  grad_clip: 1.0
  lr: 5.0e-5
  train_tokens: 1e8
  val_frac: 0.1
  warmup_frac: 0.02
  weight_decay: 0.0

transformer-large: # ~775M
  batch_size: 32
  d_model: 1280
  dropout: 0.1
  early_stop_delta: 0.02
  early_stop_pat: 10
  eval_batches: 50
  eval_every: 1000
  grad_checkpoint: false
  grad_accum_steps: 4
  grad_clip: 1.0
  lr: 1.0e-4
  min_count: 5
  num_blocks: 36
  seq_len: 256
  train_tokens: 5e10
  val_frac: 0.1
  warmup_frac: 0.02
  weight_decay: 0.01

sft-large:
  batch_size: 44
  seq_len: 256
  dropout: 0.1
  early_stop_delta: 0.1
  early_stop_pat: 10
  eval_batches: 50
  eval_every: 100
  grad_checkpoint: false
  grad_accum_steps: 1
  grad_clip: 1.0
  lr: 5.0e-5
  train_tokens: 1e8
  val_frac: 0.1
  warmup_frac: 0.02
  weight_decay: 0.0
